DATABASE_URL="postgresql://gayvideo:gayvideo@localhost:5432/gayvideo?schema=public"

POSTGRES_DB=gayvideo
POSTGRES_USER=gayvideo
POSTGRES_PASSWORD=gayvideo

HOST_DOOD_API_KEY=
HOST_VOE_API_KEY=
HOST_EARNVIDS_API_KEY=

MEDIA_DIR=public/media
